html {
    cursor: url('sprites/normalCursor.cur'), auto;
}

body {
    background-color: #c5a2a2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

#orangeCatHire {
    margin: auto;
    height: 75px;
}

#calicoCatHire{
    margin: auto;
    height: 75px;
}

#scratchText{
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #d9e9ffbe;
    line-height: 1.6;
}

#catBowl {
    cursor: url('sprites/clawCursor.cur'), auto;
    width: 200px;
    height: auto;
    margin: auto;
}

#catBowl:hover {
    opacity: 0.8;
}

#catBowl:active{
    opacity: 0.6;
    transform: scale(0.95);
}

#orangeCat {
    width: 150px;
    height: auto;
}

#calicoCat {
    width: 105px;
    height: auto;
}

#kibbleAmount {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #278489be;
    line-height: 1.6;
}

#catUpgrade {
    /* position: relative;
    z-index: 0; */
    margin: auto;
    background-color: rgb(211, 215, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 400px;
    cursor: url('sprites/clawCursor.cur'), auto;
    box-shadow: 10px 5px 20px rgb(125, 90, 90);
}

#catUpgrade:hover{
    opacity: 0.8;
}

#catUpgrade:active{
    opacity: 0.6;
    transform: scale(0.95);
}

#orangeAmount {
    font-size: 24px;
    font-family: Luminari, fantasy;
    color: #000000;
    line-height: 1.6;
}

#orangeText {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #c9570abe;
    line-height: 1.6;
    text-align: center;
}

#calicoAmount {
    font-size: 24px;
    font-family: Luminari, fantasy;
    color: #000000;
    line-height: 1.6;
}

#calicoText {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #c9570abe;
    line-height: 1.6;
    text-align: center;
}

.sidebar {
    position: fixed;
    align-items: left;
    right: 5px;
}

.sidebar-items {
    list-style: none;
    flex-direction: column;
    /* add some more style later? */
}

.sidebar-items li {
    text-align: right;
}