html {
    cursor: url('sprites/normalCursor.cur'), auto;
}

body {
    background-color: #c5a2a2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

#scratchButton{
    background-color: #278489be;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: url('sprites/clawCursor.cur'), auto;
    border-radius: 5px;
}

#orangeCat {
    width: 150px;
    height: auto;
}

#kibbleAmount {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #278489be;
    line-height: 1.6;
}

#orangeCatUpgrade {
    margin: auto;
    background-color: rgb(211, 215, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    cursor: url('sprites/clawCursor.cur'), auto;
}

#orangeAmount {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #c9570abe;
    line-height: 1.6;
}

#orangeText {
    font-size: 18px;
    font-family: Luminari, fantasy;
    color: #c9570abe;
    line-height: 1.6;
    text-align: center;
}